ul.characters_list {
  list-style-type: none;
}

ul.characters_list li {
  display: inline-block;
}

ul.characters_list li input[type="checkbox"] {
  display: none;
}

ul.characters_list.hide_inactive li:has(input:not(:checked)) {
  display: none;
}

label {
  height: 100px;
  /*This shouldn't be here */
  border: 1px solid #fff;
  border-radius: 10%;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}

label::before {
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 3;
}

label img {
  border-radius: 10%;
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: rgb(255, 255, 255);
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
}
